a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.one {
  position: fixed;
  width: 98%;
  height: 99px;
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  top:10px;
  transition: all .3s ease;
}

.one:hover {
  background: #C93F2D;
}

.two {
  position: fixed;
  width: 98%;
  height: 99px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  top:118px;
  font-style: none;
}
.two:hover {
  background: #D88207;
}

.three {
  position: fixed;
  width: 98%;
  height: 99px;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  top:226px;
  font-style: none;
}
.three:hover {
  background: #DDB407;
}

.four {
  position: fixed;
  width: 98%;
  height: 99px;
  background: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  top:334px;
  font-style: none;
}
.four:hover {
  background: #7DA814;
}

.five {
  position: fixed;
  width: 98%;
  height: 99px;
  background: mediumaquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  top:443px;
  font-style: none;
}
.five:hover {
  background: lightseagreen;
}

.six {
  position: fixed;
  width: 98%;
  height: 99px;
  background: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  top:551px;
  font-style: none;
}
.six:hover {
  background: #4C7BC1;
}

.seven {
  position: fixed;
  width: 98%;
  height: 99px;
  background: #BB80F9;
  display: flex;
  justify-content: center;
  align-items: center;
  top:659px;
  font-style: none;
}
.seven:hover {
  background: #A060F4;
}
