a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.one {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  top:1.2%;
  transition: all .3s ease;
}

.one:hover {
  background: #D87350;
}

.two {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  top:15.4%;
  font-style: none;
}
.two:hover {
  background: #417F7F;
}

.three {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: #EFC203;
  display: flex;
  justify-content: center;
  align-items: center;
  top:29.6%;
  font-style: none;
}
.three:hover {
  background: #D1AA07;
}

.four {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: #C9BDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  top:43.8%;
  font-style: none;
}
.four:hover {
  background: #AA9B9B;
}

.five {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  top:58%;
  font-style: none;
}
.five:hover {
  background: darkcyan;
}

.six {
  position: fixed;
  width: 98%;
  height: 12.8%;
  background: olive;
  display: flex;
  justify-content: center;
  align-items: center;
  top:72.2%;
  font-style: none;
}
.six:hover {
  background: #666300;
}

.seven {
  position: fixed;
  width: 98%;
  height:12.8%;
  background: #E26D6D;
  display: flex;
  justify-content: center;
  align-items: center;
  top:86.4%;
  font-style: none;
}
.seven:hover {
  background: #C15252;
}
