html {
  background-image: linear-gradient(to right, lightgray, #FF5733);
}

.circle1 {
  height:35vw;
  width:35vw;
  border-radius: 100%;
  position: fixed;
  top:15vh;
  background-image: linear-gradient(to right, lightgray, #FF5733);
      animation: move .75s alternate infinite ease;
}

.circle2 {
  height:35vw;
  width:35vw;
  border-radius: 100%;
  position: fixed;
  top:15vh;
  background-image: linear-gradient(to right, lightgray, #FF5733);
    animation: move 1.25s alternate infinite ease;
}

.circle3 {
  height:35vw;
  width:35vw;
  border-radius: 100%;
  position: fixed;
  top:15vh;
  background-image: linear-gradient(to right, lightgray, #FF5733);
    animation: move 1.75s alternate infinite ease;
}

.circle4 {
  height:35vw;
  width:35vw;
  border-radius: 100%;
  position: fixed;
  top:15vh;
  background-image: linear-gradient(to right, lightgray, #FF5733);
    animation: move 2.25s alternate infinite ease;
}

.circle5 {
  height:35vw;
  width:35vw;
  border-radius: 100%;
  position: fixed;
  top:15vh;
  background-image: linear-gradient(to right, lightgray, #FF5733);
    animation: move 3.75s alternate infinite ease;
}


.block1 {
  width:20vh;
  height:20vh;
  position: fixed;
  left:0;
  top:0;
  background: lightgray;
    animation: block 3s alternate infinite ease;
}

.block2 {
  width:20vh;
  height:20vh;
  position: fixed;
  left:0;
  top:20vh;
  background: lightgray;
    animation: block 5s alternate infinite ease;
}

.block3 {
  width:20vh;
  height:20vh;
  position: fixed;
  left:0;
  top:40vh;
  background: lightgray;
    animation: block 2s alternate infinite ease;
}

.block4 {
  width:20vh;
  height:20vh;
  position: fixed;
  left:0;
  top:60vh;
  background: lightgray;
    animation: block 1s alternate infinite ease;
}

.block5 {
  width:20vh;
  height:20vh;
  position: fixed;
  left:0;
  top:80vh;
  background: lightgray;
    animation: block 4s alternate infinite ease;
}
@keyframes block {
  0% {transform:translateX(-100px);}
  100% {transform:translateX(100vw);}
}

@keyframes move {
  0% {transform:translateX(-40%)}
  100% {transform:translateX(205%);
}
