a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

  .one {
    position: fixed;
    width: 98%;
    height: 18.56%;
    background: #C9BDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    top:1.2%;
    transition: all .3s ease;
  }

  .one:hover {
    background: #AA9B9B;
  }

  .two {
    position: fixed;
    width: 98%;
    height:18.56%;
    background: #AA9B9B;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20.96%;
    font-style: none;
  }
  .two:hover {
    background: #9c8b8b;
  }

  .three {
    position: fixed;
    width: 98%;
    height: 18.56%;
    background: #948282;
    display: flex;
    justify-content: center;
    align-items: center;
    top:40.72%;
    font-style: none;
  }
  .three:hover {
    background: #857474;
  }

  .four {
    position: fixed;
    width: 98%;
    height: 18.56%;
    background: #796868;
    display: flex;
    justify-content: center;
    align-items: center;
    top:60.48%;
    font-style: none;
  }
  .four:hover {
    background: #675858;
  }

  .five {
    position: fixed;
    width: 98%;
    height: 18.56%;
    background: #5c4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    top:80.24%;
    font-style: none;
  }
  .five:hover {
    background: #4e4242;
  }
