a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

  .one {
    position: fixed;
    width: 98%;
    height: 23.5%;
    background: #C9BDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    top:1.2%;
    transition: all .3s ease;
  }

  .one:hover {
    background: #AA9B9B;
  }

  .two {
    position: fixed;
    width: 98%;
    height: 23.5%;
    background: #AA9B9B;
    display: flex;
    justify-content: center;
    align-items: center;
    top:25.9%;
    font-style: none;
  }
  .two:hover {
    background: #9c8b8b;
  }

  .three {
    position: fixed;
    width: 98%;
    height: 23.5%;
    background: #948282;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50.6%;
    font-style: none;
  }
  .three:hover {
    background: #857474;
  }

  .four {
    position: fixed;
    width: 98%;
    height: 23.5%;
    background: #796868;
    display: flex;
    justify-content: center;
    align-items: center;
    top:75.3%;
    font-style: none;
  }
  .four:hover {
    background: #675858;
  }
