body {
  font-family: 'DM Serif Text', serif;
letter-spacing: 2px;

color: darkcyan;
margin-top: 50px;
background: mintcream;
}

.title {
text-align: center;

}

.first {
  padding-left: 35%;
line-height: 30px;
font-size: 18px;
}
